<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.0</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Adieresis</string>
		<string>A-cy</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ze-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Zedescender-cy</string>
		<string>Shha-cy</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Es-cy</string>
		<string>Esdescender-cy</string>
	</array>
	<key>public.kern1.De_cy</key>
	<array>
		<string>De-cy</string>
		<string>Tse-cy</string>
		<string>Shcha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Kadescender-cy</string>
		<string>Endescender-cy</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Ge-cy</string>
		<string>Gestroke-cy</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Idotaccent</string>
		<string>M</string>
		<string>i</string>
		<string>idotless</string>
		<string>idotaccent</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Che-cy</string>
		<string>Sha-cy</string>
		<string>Yeru-cy</string>
		<string>I-cy</string>
		<string>Ya-cy</string>
		<string>one</string>
		<string>paragraph</string>
		<string>bar</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Udieresis</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Zhe-cy</string>
		<string>Ka-cy</string>
		<string>Kabashkir-cy</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Q</string>
		<string>O-cy</string>
		<string>Ef-cy</string>
		<string>Ereversed-cy</string>
		<string>Yu-cy</string>
		<string>Schwa-cy</string>
		<string>Obarred-cy</string>
		<string>at</string>
		<string>copyright</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>Er-cy</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Te-cy</string>
		<string>tenge</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>Ha-cy</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>U-cy</string>
		<string>Ustraight-cy</string>
		<string>Ustraightstroke-cy</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern1.dot</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.0</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>A-cy</string>
	</array>
	<key>public.kern2.De_cy</key>
	<array>
		<string>De-cy</string>
	</array>
	<key>public.kern2.El_cy</key>
	<array>
		<string>El-cy</string>
	</array>
	<key>public.kern2.Ereversed_cy</key>
	<array>
		<string>Ereversed-cy</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Idotaccent</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>i</string>
		<string>idotless</string>
		<string>idotaccent</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gestroke-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Ka-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Softsign-cy</string>
		<string>Yeru-cy</string>
		<string>I-cy</string>
		<string>Yu-cy</string>
		<string>Kadescender-cy</string>
		<string>Endescender-cy</string>
		<string>Shha-cy</string>
		<string>bar</string>
		<string>numero</string>
	</array>
	<key>public.kern2.Hardsign_cy</key>
	<array>
		<string>Hardsign-cy</string>
		<string>Kabashkir-cy</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>N</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Q</string>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>Ef-cy</string>
		<string>Che-cy</string>
		<string>Esdescender-cy</string>
		<string>Schwa-cy</string>
		<string>Obarred-cy</string>
		<string>at</string>
		<string>paragraph</string>
		<string>copyright</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Ze-cy</string>
		<string>U-cy</string>
		<string>Zedescender-cy</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Te-cy</string>
		<string>tenge</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Udieresis</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>Zhe-cy</string>
		<string>Ha-cy</string>
		<string>Ya-cy</string>
		<string>Zhedescender-cy</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ustraight-cy</string>
		<string>Ustraightstroke-cy</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern2.dot</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
	</array>
</dict>
</plist>
